// Header container

.header-items,
.carousel,
.buttons-container,
.culture-div,
.articles-container,
.clients-container,
.footer-container-contents,
.accredits
{
    margin: auto;
}


//  footer containers
.footer-container {
    background-color: $nm-blue;
}

.footer-container-contents {
    display: flex;
    flex-direction: column;
}

.footer-container-contents p {
    font-size: 0.8125rem;
    color: white;
}

.footer-container-contents a {
    font-size: 0.8125rem;
    color: white;
}

.footer-container-contents h4 {
    font-size: 1rem;
    color: white;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.footer-container-contents ul li {
    font-size: 0.8125rem;
    color: white;
}

.footer-container-contents address {
    font-size: 0.8125rem;
    color: white;
    font-style: normal;
}

// Social Media button container

.social-media-buttons {
    flex-flow: wrap;
    justify-content: space-between;
}

//Culture area

.culture-div {
    background-color: $nm-blue;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    height: 673px;
}

.culture-div h3 {
    color:white;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: -25px;
    font-weight: 200;
    font-size: 2.25rem;
}

.culture-div p {
    color: white;
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.875rem;    
}


// Clients container

.clients-container {
    display: flex;
    height: 170px;
    align-items: center;
}

.client-container {
    width: 200px;
    height: 46px;
    padding: 0px 20px;
    margin: auto;
}

.clients {
    height: 100%;
}

.busseys {
    background: url("../img/asset 13.jpeg") no-repeat; 
    background-size: 100% 100%;  
}
.busseys:hover {
    background: url("../img/asset12.png") no-repeat; 
    background-size: 100% 100%;
}

.crane {
    background: url("../img/asset 15.jpeg") no-repeat;  
    background-size: 100% 100%;  
}

.crane:hover {
    background: url("../img/asset 14.png") no-repeat;
    background-size: 100% 100% ;
}

.beat {
    background: url("../img/asset 17.jpeg") no-repeat; 
    background-size: auto 100%; 
}

.beat:hover {
    background: url("../img/asset 16.png") no-repeat; 
    background-size: auto 100%; 
}

.diver {
    background: url("../img/asset 19.jpeg") no-repeat; 
    background-size: 100% 100%;   
}

.diver:hover {
    background: url("../img/asset 18.png") no-repeat;
    background-size: 100% 100%;
}

// Accreditation container

.accredits {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
    margin-top: 50px;
}

.silver-ms{
    background: url("../img/asset20.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.future-50 {
    background: url("../img/asset21.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.future-50:hover {
    background: url("../img/asset22.jpeg") no-repeat;
}

.qms {
    background: url("../img/asset23.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.qms:hover {
    background: url("../img/asset24.jpeg") no-repeat;
}

.carbon-charter {
    background: url("../img/asset25.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
}

.carbon-charter:hover {
    background: url("../img/asset26.jpeg") no-repeat;
}