// Header container




//  footer containers

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 47px 20px 0px;
    background-color: $nm-blue;
}

.footer-container p {
    font-size: 0.8125rem;
    color: white;
}

.footer-container a {
    font-size: 0.8125rem;
    color: white;
}

.footer-container h4 {
    font-size: 1rem;
    color: white;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.footer-container ul li {
    font-size: 0.8125rem;
    color: white;
}

.footer-container address {
    font-size: 0.8125rem;
    color: white;
    font-style: normal;
}

// Social Media button container

.social-media-buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}



//Culture area

.culture-div {
    background-color: $nm-blue;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
}

.culture-div h3 {
    color:white;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: -25px;
    font-weight: 200;
    font-size: 30px;
}


.culture-div p {
    color: white;
    margin-bottom: 25px;
    font-weight: 200;
    font-size: .75rem;
    line-height: 20px;
}

.culture-div p:nth-of-type(1) {
    font-weight: bold;
    font-size: 12px;
}

// Clients container

.client-container {
    display: flex;
    justify-content: space-between;
}

.colour {
    display:none;
}
.busseys {
    background: url("../img/asset 13.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    margin-left: 10px;
    
}
.busseys:hover {
    background: url("../img/asset12.png") no-repeat;
    
}

.crane {
    background: url("../img/asset 15.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    margin-left: 10px;
    
}
.crane:hover {
    background: url("../img/asset 14.png") no-repeat;
    
}

.beat {
    background: url("../img/asset 17.jpeg") no-repeat;
    height: 100px;
    width: 100px;
    padding: 0px 20px;
    margin-left: 10px;
    
}
.beat:hover {
    background: url("../img/asset 16.png") no-repeat;
    
}
.diver {
    background: url("../img/asset 19.jpeg") no-repeat;
    height: 100px;
    width: 400px;
    padding: 0px 20px;
    margin-left: 10px;
    
}
.diver:hover {
    background: url("../img/asset 18.png") no-repeat;
}

// Accreditation container

.accredits {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
    margin-top: 50px;
}

.silver-ms{
    background: url("../img/asset20.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.future-50 {
    background: url("../img/asset21.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.future-50:hover {
    background: url("../img/asset22.jpeg") no-repeat;
}

.qms {
    background: url("../img/asset23.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
    
}

.qms:hover {
    background: url("../img/asset24.jpeg") no-repeat;
}

.carbon-charter {
    background: url("../img/asset25.jpeg") no-repeat;
    height: 100px;
    width: 200px;
    padding: 0px 20px;
}

.carbon-charter:hover {
    background: url("../img/asset26.jpeg") no-repeat;
}