//header container

.header-items {
  display: inline-flex;
  flex-direction: row;
  margin: 5px 10px 10px 5px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

// Netmatters logo 

.logo-container img {
  height: auto;
  width: 80%;
  margin: 10px 0px 0px 0px;
}

// Phone icon styling

.phone-container {
  margin-left: 10px;
  margin-right: 20px;
}

.fa-phone-alt {
  color: $nm-blue;
  font-size: 20px; 
}

// Burger button styling

.burger-container {
  margin-left: auto;
  margin-right: 10px;
}

.burger-container button {
  background-color: $nm-blue;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none; 
  font-size: 12px;
  border: none; 
  border-radius: 3px;
}

.burger-container:hover button {
  background-color: #22242e;
}

.fa-bars {
  color: white;
  text-align: center;
  font-size: 22px;
}

// Search bar styling
.search-container {
  display: inline-flex;
  width: 97%;
  margin: 0px 10px 5px 10px;
  border: 2px solid rgba(0,0,0,0.1);
  overflow: hidden;
  
}
  
  .search-icon {
  padding: 0.5rem;
}
  
  .search-box {   
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  
}

.support-button {
  display: none;
  background-color: #999AA2;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
  border: none;
  border-radius: 2px;
  padding: 10px 5px;
}

.support-button:hover {
  background-color: #84858f;
}

.contact-button {
  display: none;
  background-color: #4183d7;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 10px 5px;
}

.contact-button:hover {
  background-color: #4183d7;
}