.carousel {
    // position: relative;
    height: 768px;
    width: 400px;
    color:white;
    overflow: hidden;

}

.carousel-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/asset3.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    margin-bottom: 45px;
    transform-origin: 50% 50%;
}

  .carousel-text {
    top: 330px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.carousel h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 45px;
    font-weight: normal;
}

.carousel p {
    text-align: center;
    margin: 0px 25px;
    line-height: 30px;
    letter-spacing: .4px;
}

.carousel button {
    text-align: center;
    background-color: $nm-purple;
    border: none;
    color:white;
    margin-left: 90px;
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 20px;
    width: 60%;
}

.carousel button:hover {
    background-color: $nm-purple-dark;
}
