.carousel {
    height: 768px;
    width: auto;
    color:white;
    overflow: hidden;
    // padding-top: 30px;

    margin-top: 500px;
}

.carousel-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/asset3.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    margin-bottom: 45px;
    transform-origin: 50% 50%;
}

  .carousel-text {
    top: 330px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;

}

.carousel-margin {
    margin: 0 25px;
}

.carousel h1 {
    margin-bottom: 25px;
    font-size: 2.375rem;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 45px;
    font-weight: normal;
}

.carousel p {
    line-height: 30px;
    letter-spacing: .4px;
    margin-bottom: 10px;
}

.carousel button {
    text-align: center;
    background-color: $nm-purple;
    border: none;
    color:white;
    padding: 10px 20px;
    font-size: 20px;
    width: 223px;
    cursor: pointer;
}

.carousel button:hover {
    background-color: $nm-purple-dark;
}
